@{
    ViewData["Title"] = "Exito";
}

<div style="position:absolute;top:calc(50% - 128px);width:100%;height:max-content;">
    <img src="~/Img/noticias-falsas.png" style="width:120px;height:120px;margin-left:calc(50% - 60px);" />
    <label style="font-weight:bold;font-size:28px;width:100%;text-align:center">
        Datos Falsos o Duplicados con otro Proovedor</label>
</div>

