@{
    ViewData["Title"] = "Exito";
}

<div style="position:absolute;top:calc(50% - 128px);width:100%;height:max-content;">
    <img src="~/Img/comprobado.png" style="width:120px;height:120px;margin-left:calc(50% - 60px)" />
    <label style="font-weight:bold;font-size:28px;width:100%;text-align:center">
        La accion Realizada fue todo un Exito</label>
</div>

